.abc {
    width: 270px;
    height: 350px;
    background-color: #EC7063;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    z-index: 0;
    position: relative;
    margin-top: -4rem;
}

.thumb {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
    margin-top: 5rem;
}

.fa-quote-left,
.name-tag {
    float: left;
}

.t-card img {
    z-index: 1;
    position: relative;
    margin-top: 4rem;
    width: 110px;
    height: 110px;
    margin-left: 24%;
    border-radius: 100%;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:414px) {
    .t-card {
        margin-left: 2.4rem;
        margin-top: -3rem;
    }
}